body {
    background-image: url(imagenes/colores.jpg);
}
header{
    color: aliceblue;
    text-align: center;
    font-size: larger;
    font: bold 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
footer{
    background-color: black;
    color: white;
}
img{
    width: 300px;
    height: 400px;
   border: 6px solid rgb(235, 221, 17);
}

p {
    color: white;
    background-color: black;
    text-align: justify;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.Alinear_Flex{
justify-content: center;
display: flex;
}
