body {
    background-image: url(imagenes/colores.jpg);
}
header{
    color: aliceblue;
    text-align: center;
    font-size: larger;
    font: bold 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
footer{
    background-color: black;
    color: white;
}
img{
    width: 300px;
    height: 400px;
   border: 6px solid rgb(235, 221, 17);
}

p {
    color: rgb(231, 118, 20);
    background-color: black;
    text-align: justify;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.Alinear_Flex{
justify-content: right  ;
display: flex;
color: black;
}

h3{
    color: rgb(11, 126, 28);
    
}

.lista-info {
    background-color: rgba(237, 115, 7, 0.85); 
    padding: 20px;
    border: 10px;
  width: 300px;
  height: 350px;

    color: rgb(0, 0, 0);
    font-size: 16px;
list-style: square;}